body,
canvas {
	margin: 0;
	padding: 0;
	display: block;
	touch-action: none;
}

main {
	min-height: 80vh;
}


a {
	color: #000;
}

.text-normal-case {
	text-transform: none !important;
}

.my-font {
	font-family: "Nunito", sans-serif;
}

.plus-sign-margin {
	margin: 0.4rem;
}

.push-to-right {
	margin-left: 0.6rem;
}




/* Headings */
h1 {
	text-transform: uppercase;
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 0.5rem;
}

h3 {
	padding: 1rem 0;
}

/* Rating */
.rating span {
	margin: 0.1rem;
}



/* Form Controls */


/* Change the background color of autofilled inputs */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
	box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
	background-clip: content-box !important;
}

/* Pagination */
.pagination {
	--bs-pagination-hover-border-color: #333333;
	--bs-pagination-hover-color: #333333;
}

.page-link {
	color: #333333;
}

.custom-pagination .page-item.active .page-link {
	background-color: #333333;
	color: white;
	border-color: #333333;
}

.custom-pagination .page-item .page-link {
	background-color: white;
	color: #333333;
	border-color: #333333;
}


/* Dropdown Menu */
.dropdown-menu {
	--bs-dropdown-link-active-bg: #333333;
}

/* Alerts */
.alert-info {
	background-color: #f2f2f2;
	border-color: #333333;
	color: #333333;
}

/* Product Card */
.product-card:hover {
	border-color: #333333;
}

.effect {
	width: 100%;
	background-size: contain;


	h1 {

		font-weight: 900;
		font-size: 3vw;
		text-align: left;
		margin: 0;
		color: #222;
		background: url(https://i.imgur.com/jGIGWOA.jpg) repeat fixed;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		fill-opacity: 0;
		animation: bp 8s infinite linear;

	}

	.text {
		text-align: center;
		margin: 0;
		font-size: 1.5vw;
	}
}

/* Animation Classes */

/* Scale up center */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* Scale up vertical center */
.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-center {
	0% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}

	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

@keyframes scale-up-ver-center {
	0% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}

	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}


/* Tracking in expand */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

/* Focus in expand */
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-expand 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

/* Focus in contract */
.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}


/* Focus in expand */
.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}



/* Key Frames */
@keyframes bp {
	100% {
		background-position: 0% 552px;
	}

	0% {
		background-position: 0% 0px;
	}
}
